.com{
    display:flex;
    width: 100%;
    height:100vh;
    flex-direction: column;
    gap:3em;
    justify-content: center;
    align-items: center;

}
.balance{
    display:flex;
    justify-content: center;
    flex-direction: column;
 padding:1em;
    gap:1em;
}